@import "fons/fonts.css";
@import "navbar.css";

@import "sections/_info-section.css";
@import "sections/_onas.css";
@import "sections/_dlaczego.css";
@import "sections/_kogo-szukamy.css";
@import "sections/_recrit.css";
@import "sections/_benefity.css";
@import "sections/_kontakt.css";

@import "sliders/feedbacks-slider.css";
@import "sliders/gallery-slider.css";

body {
    background-color: #FAFAFA;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    height: 100vh;
}


p, h1 {
    margin: 0;
}

p, span, a {
    font-size: 32px;
}

p {
    padding-top: 40px;
}

h1 {
    font-family: 'Franklin Gothic Heavy', sans-serif;
    font-size: 80px;
    margin: 0;
}

.g-container {
    max-width: 1920px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.g-text {
    font-family: 'Franklin Gothic Book', sans-serif;
    color: #757575;
    line-height: 45px;
}

.g-header {
    position: relative;
}

.g-header::before {
    content: " " url("../../images/shapes/shape-text.png");
    top: -68px;
    left: -87px;
    position: absolute;
}

.black {
    color: #001021;
}

.white {
    color: #fff;
}

@media (max-width: 1367px) {
    p, span, a {
        font-size: 24px;
    }

    h1 {
        font-size: 60px;
    }

    .g-header::before {
        transform: scale(.7);
        top: -60px;
        left: -77px;
    }

    p {
        padding-top: 35px;
    }
}

@media (max-width: 900px) {
    p, span, a {
        font-size: 20px;
    }

    h1 {
        font-size: 50px;
    }

    .g-text {
        line-height: 35px;
    }

    p {
        padding-top: 30px;
    }
}
